* {
    box-sizing: border-box;
}

#nav-list > li {
    text-align: center;
}

div section {
    margin: 10px;
    padding: 10px;
}
#section-1{
    background-color: pink;
}

#section-2 {
    background-color: yellow;
}

#section-3 {
    background-color: lightgreen;
}

#text > h3 {
    margin-bottom: 15px;
}

#header-nav .navbar-brand {
    position: absolute;
    left: 10px;
}
#nav-list {
    margin-top: 10px;
}
#nav-list a {
    color: #951C49;
    text-align: center;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -33px;
}


#nav-list li p {
    background: #8e24aa;
}

/* END HEADER */
